In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df=sns.load_dataset('iris')
df.shape

(150, 5)

In [6]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [8]:
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [9]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [10]:
df['species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [15]:
df=df[df['species']!='setosa']

In [16]:
df.head()

    sepal_length  sepal_width  petal_length  petal_width     species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
52           6.9          3.1           4.9          1.5  versicolor
53           5.5          2.3           4.0          1.3  versicolor
54           6.5          2.8           4.6          1.5  versicolor

In [17]:
from sklearn.preprocessing import LabelEncoder

In [21]:
label_encoder = LabelEncoder()
df['species'] = label_encoder.fit_transform(df['species'])

In [22]:
df

     sepal_length  sepal_width  petal_length  petal_width  species
50            7.0          3.2           4.7          1.4        0
51            6.4          3.2           4.5          1.5        0
52            6.9          3.1           4.9          1.5        0
53            5.5          2.3           4.0          1.3        0
54            6.5          2.8           4.6          1.5        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        1
146           6.3          2.5           5.0          1.9        1
147           6.5          3.0           5.2          2.0        1
148           6.2          3.4           5.4          2.3        1
149           5.9          3.0           5.1          1.8        1

[100 rows x 5 columns]

In [24]:
x=df[['sepal_length','sepal_width','petal_length','petal_width']]
y=df['species']

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.33,random_state=42)

In [28]:
from sklearn.linear_model import LogisticRegression

In [29]:
Reg=LogisticRegression()

In [30]:
from sklearn.model_selection import GridSearchCV

In [31]:
pera={'penalty':['l1','l2','elasticnet'],'C':[1,2,3,4,5,6,10,20,30,40,50],'max_iter':[100,200,300]}

In [33]:
classifier_regressor=GridSearchCV(Reg,param_grid=pera,scoring='accuracy',cv=5)

In [34]:
classifier_regressor.fit(x_train,y_train)

C:\Users\HP\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
330 fits failed out of a total of 495.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
165 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\HP\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\HP\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1461, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\HP\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 447, in _check_solver
    raise ValueError(
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

--------------------------------------------------------------------------------
165 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\HP\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\HP\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1461, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\HP\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 447, in _check_solver
    raise ValueError(
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got elasticnet penalty.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\HP\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [       nan 0.93333333        nan        nan 0.93333333        nan
        nan 0.93333333        nan        nan 0.93333333        nan
        nan 0.93333333        nan        nan 0.93333333        nan
        nan 0.93333333        nan        nan 0.93333333        nan
        nan 0.93333333        nan        nan 0.93333333        nan
        nan 0.93333333        nan        nan 0.93333333        nan
        nan 0.96666667        nan        nan 0.96666667        nan
        nan 0.96666667        nan        nan 0.96666667        nan
        nan 0.96666667        nan        nan 0.96666667        nan
        nan 0.96666667        nan        nan 0.96666667        nan
        nan 0.96666667        nan        nan 0.96666667        nan
        nan 0.96666667        nan        nan 0.96666667        nan
        nan 0.96666667        nan        nan 0.96666667        nan
        nan 0.96666667        nan        nan 0.96666667        nan
        nan 0.96666667        nan        nan 0.96666667        nan
        nan 0.96666667        nan        nan 0.96666667        nan
        nan 0.96666667        nan]
  warnings.warn(

GridSearchCV(cv=5, estimator=LogisticRegression(),
             param_grid={'C': [1, 2, 3, 4, 5, 6, 10, 20, 30, 40, 50],
                         'max_iter': [100, 200, 300],
                         'penalty': ['l1', 'l2', 'elasticnet']},
             scoring='accuracy')

In [35]:
print(classifier_regressor.best_params_)

{'C': 5, 'max_iter': 100, 'penalty': 'l2'}

In [36]:
print(classifier_regressor.best_score_)

0.9666666666666666

In [37]:
y_pre=classifier_regressor.predict(x_test)

In [39]:
from sklearn.metrics import accuracy_score,classification_report

In [40]:
accuracy_score(y_pre,y_test)

0.9402985074626866

In [42]:
print(classification_report(y_pre,y_test))

              precision    recall  f1-score   support

           0       0.92      0.97      0.95        37
           1       0.96      0.90      0.93        30

    accuracy                           0.94        67
   macro avg       0.94      0.94      0.94        67
weighted avg       0.94      0.94      0.94        67